<!DOCTYPE html>
<html>
<head>
	<title>Flickr App</title>
	<link rel="stylesheet" type="text/css" href="styles/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>

	<ul class="bxslider">
        <!--
            this is our structure
            <li>
                <img>
            </li>
        -->
    </ul>
    <div id="ajaxloader1" style="display: none;"></div>
    <div class="container vertical-center__wrap">
    	<input class="form-control input-lg input--xtra-large vertical-center__cell js-location" type="text" id="inputLarge">
    </div>
    <script type="foo/bar" id="hello-wrold">
        <h1>Hello, Wrold from <%= foo %> inside the HTML</h1>
    </script>
    <script type="foo/bar" id="flickr-gallery">
        <li>
            <img src="<%= imgSrc %>">
        </li>
    </script>


	<script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script>
    <script src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
    <script src="javascript/underscore.min.js"></script>
    <script src="javascript/jquery.bxslider.js"></script>
	<script type="text/javascript" src="javascript/main.js"></script>
</body>
</html>


